.MuiTabs-root {
	height: fit-content;
}

section {
	width: 100%;
}

.css-1n3h4wo {
	display: flex;
	justify-content: center;
	width: 1000px;
	margin: 0 auto;
	/* padding: 90px 0px; */
}

.links {
	display: flex;
	align-items: center;
	color: #f3f3f3;
}

.item {
	padding: 0 20px;
	text-decoration: none;
}

button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.btn.btn-danger.btn-block.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
	background-color: #158284 !important;
	color: #f3f3f3 !important;
	margin-left: 20px !important;
	border-radius: 3px !important;
	margin-top: 5px;
}

.item:hover {
	text-decoration: 2px underline;
	color: #f3f3f3;
}

/* .css-1a4cg4j-MuiButtonBase-root-MuiTab-root.Mui-selected {
	color: #000;
} */

.MuiLinearProgress-bar {
	background-color: #51cc56 !important;
}

.css-eglki6-MuiLinearProgress-root {
	background-color: #f0f0f0 !important;
}

.css-r40f8v-MuiTypography-root {
	color: #51cc56 !important;
	font-size: 1.475rem !important;
}

.css-1a4cg4j-MuiButtonBase-root-MuiTab-root.Mui-selected {
	color: #000 !important;
}

.css-1mrn996 {
	color: #000 !important;
}

/* Buttons Back and Next */
button.MuiButton-root.MuiButton-text.MuiButton-textPrimary.MuiButton-sizeMedium.MuiButton-textSizeMedium.MuiButtonBase-root.css-1ujsas3 {
	background-color: #158284 !important;
	color: #f3f3f3 !important;
	margin-left: 20px !important;
	border-radius: 3px !important;
	margin-top: 12px !important;
}

