.featureJobs {
    border: 1px solid black;
    border-radius: 3px;
    padding: 1.3em;
    margin-bottom: 0.5em;
}

.css-sghohy-MuiButtonBase-root-MuiButton-root{
    background-color: #408083 !important;
    color: #f3f3f3 !important;
}